@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Raleway, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --fc-border-color: black;
  --fc-daygrid-event-dot-width: 10px;

  color-scheme: light white;
  color: rgba(12, 12, 12, 0.87);
  background-color: #FAFFF3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
}

.fc .fc-col-header-cell-cushion { /* needs to be same precedence */
  padding-top: 5px; /* an override! */
  padding-bottom: 5px; /* an override! */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 20px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.primary-btn{
  @apply bg-[#136F63] hover:bg-[#FAFFF3] hover:border-[#136F63] text-slate-100 hover:text-[#136F63] rounded-lg hover:border-[1px];
}

.secondary-btn{
  @apply bg-[#D70000] hover:bg-[#FAFFF3] hover:border-[#D70000] text-white hover:text-[#D70000] rounded-lg hover:border-[1px];
}

.btn-green{
  @apply p-3 mt-[32px] bg-[#136F63] hover:bg-[#FAFFF3] rounded-lg hover:border-[1px] hover:p-[11px] hover:border-[#136F63] text-slate-100 hover:text-[#136F63];
}

.brief-btn-red{
  @apply secondary-btn p-3  hover:border-[1px]  hover:p-[11px]  mr-[32px];
}

.brief-btn-green{
  @apply primary-btn p-3 hover:border-[1px] ;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
